<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lyr.mybatisplus.dao.UserDao">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="lyr.mybatisplus.entity.User">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="age" property="age" />
        <result column="email" property="email"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, age, email
    </sql>

    <select id="getAllToPgsql" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"></include> FROM "user"
    </select>

    <select id="getAllToMysql" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"></include> FROM `user`
    </select>

    <select id="findByParams" resultType="lyr.mybatisplus.entity.User">
        SELECT <include refid="Base_Column_List"></include> FROM `user` WHERE id = #{param1} and name = #{param2}
    </select>

    <select id="findByParams2" resultType="lyr.mybatisplus.entity.User">
        SELECT <include refid="Base_Column_List"></include> FROM `user` WHERE id = #{id} and name = #{name}
    </select>

    <select id="findByMapParams" resultType="lyr.mybatisplus.entity.User" parameterType="hashmap">
        SELECT <include refid="Base_Column_List"></include> FROM `user` WHERE id = #{id} and name = #{name}
    </select>

    <select id="findByBeans" resultType="lyr.mybatisplus.entity.User" parameterType="lyr.mybatisplus.entity.User">
        SELECT <include refid="Base_Column_List"></include> FROM `user` WHERE id = #{id} and name = #{name}
    </select>
    <select id="findByJSONObject" resultType="lyr.mybatisplus.entity.User" parameterType="org.springframework.boot.configurationprocessor.json.JSONObject">
        SELECT <include refid="Base_Column_List"></include> FROM `user` WHERE id = #{id} and name = #{name}
    </select>

    <select id="findByList" resultType="lyr.mybatisplus.entity.User">
        SELECT <include refid="Base_Column_List"></include> FROM `user` WHERE id IN
        <foreach collection="list" open="(" separator="," close=")" item="no">
            #{no}
        </foreach>
    </select>


</mapper>
